body {
    margin: 0;
      background-color: blueviolet;
}

.mainheader {
    display: flex;
   flex-flow: column;
   background-color: red;
   
   
    
}

h3  {
    text-align: center;
    width: 100%;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.mainheader h3 {

    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: xx-large;
    background-color: black;
    display: flex;
    justify-content: center;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: seagreen;
    color: white;
    text-align: center;
  }

  #mainFooter ul {
      list-style-type: none;
  }