*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body{
    font: normal 16px "Open Sans", sans-serif;
    color:#555;
    text-align: center;
    justify-content: center;
}






/* HERO */

.hero{
    background-color: transparent;
    position:relative;
    justify-content: center;
    min-height: 15vh;
    color:#fff;
    text-align: center;
}



.hero .background-image{
    background-image: url(Images/Background.png);
   position:fixed;
    justify-content: center;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-color: #1A77C1;
    background-position: center;
}

.hero .background-image:after{
  
    position:fixed;
    top:0;
    left: 0;
     width: 100%;
    height: 100%;
    background-color: #414A4F;
    opacity: 0.75;
}

.round{
    border: 6px solid #2f42ec;
    border-radius: 50%;
}

.about {
    
    background-color: #000;
    font-style: unset;
   
    

}

.about h3 {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: rgb(255, 255, 255);
}

.about img {
    width: 200px;
    height: 200px;
}

header{
  display: none;
}


header nav li{
    margin: 0 15px;
}

header nav li:first-child{
    margin-left: 0;
}

header nav li:last-child{
    margin-right: 0;
}

header h2{
    font-family: 'Yuji Boku', serif;
    
}

/* Cast */

.cast img {
    width: 200px;
    height: 200px;
    justify-content: center;
    
}
.cast h4 {
    color: black;
    background: #414A4F;
    font-family: 'Mochiy Pop P One', sans-serif;
    justify-content: center;
    
}

.cast p {
    color:#000;
    font-size: 20px;
    background: #555;
    justify-content: center;
}

.show img {

    justify-content: auto;
    background-size: cover;
     border-radius: 25%;
     text-decoration: none;
    color:inherit;
    cursor:pointer;
}

.show:hover {
    opacity: 0.6;
    
}

/*Burger Button*/

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #850505;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #3e637c;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: rgb(0, 0, 0);
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  /*end Burger btn*/

  /*Email Sign-up*/

  

@media (min-width: 600px){

    header {
        background-color: rgba(0,0,0,.7);
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        z-index: 10;
        align-items: center;
        color: #fff;
        padding: 35px 100px 20px;
        display:block;
        
    }

    a{
        text-decoration: none;
        color:inherit;
        cursor:pointer;
        font-size: xx-large;
        opacity: 0.6;
    }

  
    
    a:hover{
        opacity: 1;
        color: #1A77C1;
    }
  

    header ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding-top: inherit;
        font-family: 'Shalimar', cursive;
        font-size: 20px;
    }

    header nav {
        padding-top: 10px;
        
    }

    .cast h4 { 
        padding: 10px 10px 10px 10px;
        margin:25px 100px 25px;
    }

    .cast p {
        padding: 10px 10px 50px 50px;
        margin:25px 100px 25px;
        
    }

    .about {
        padding: 10px 10px 10px 10px;
        margin: 100px;
    }
    .menu__btn {
        display: none;
          }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: none;
         }
     
      
      .menu__box {
        display: none;
       
      }
      
      .menu__item {
        display: none;
       
      }
      

}
